<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jokey.bigoo.admin.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.jokey.bigoo.admin.entity.Role">
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        role_id, role_name, remark, create_time, modify_time
    </sql>
</mapper>